<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
    
      <tbody>
    
        <tr>
          <td>dispositivo:</td>
          <td>x</td>
        </tr>
    
        <tr>
          <td>potência:</td>
          <td>x</td>
        </tr>
    
        <tr>
          <td>tempo de uso:</td>
          <td>x</td>
        </tr>
    
        <tr>
          <td>consumo:</td>
          <td>x</td>
        </tr>
    
        <tr>
          <td>custo mensal:</td>
          <td>x</td>
        </tr>
    
      </tbody>
    </table>

  </div>

</div>