<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
    
      <tbody>

        <tr>
          <td>custo mensal:</td>
          <td><b>{{ totals('cost') | currency:'BRL':true:'1.2-2' }}</b></td>
        </tr>
    
        <tr>
          <td>dispositivos:</td>
          <td><b>{{ totals('quantity') }}</b></td>
        </tr>
    
        <tr>
          <td>potência:</td>
          <td><b>{{ totals('potency').toFixed(3) }}</b> KW</td>
        </tr>
    
        <tr>
          <td>consumo:</td>
          <td><b>{{ totals('consume') }}</b> KWh/mês</td>
        </tr>
    
      </tbody>
    </table>

  </div>

</div>