<div class="container">
  <h2>adicione um dispositivo:</h2>
  
  <form (submit)="saveData($event)">
  
    <label for="input-deviceInput">dispositivo:</label>
    
    <div class="input-group">

      <input
        placeholder="insira o nome do dispositivo"
        id="input-deviceInput"
        class="form-control"
        autocomplete="off"
        type="text"
        name="name"
        [(ngModel)]="deviceInput.name">

      <div class="input-group-addon">

        <input
          id="quantity"
          name="quantity"
          type="number"
          [(ngModel)]="deviceInput.quantity">
      </div>
    </div>

  
    <label for="input-potency">potência (Watts):</label>
    <input
      placeholder="insira a potência do dispositivo em WATTS"
      id="input-potency"
      class="form-control"
      autocomplete="off"
      type="number"
      name="potency"
      [(ngModel)]="deviceInput.potency">
  
  
    <label for="input-usage">tempo de uso</label>

    <div class="input-group">
  
      <input
        placeholder="insira o tempo de uso do dispositivo"
        id="input-usage"
        class="form-control"
        autocomplete="off"
        type="number"
        name="usage"
        [(ngModel)]="deviceInput.usage">
  
      <div class="input-group-addon">
  
        <select
        id="unity"
        name="unity"
        [(ngModel)]="deviceInput.unity">

          <option value="md">min/dia</option>
          <option value="hd">hr/dia</option>
          <option value="hs">hr/sem</option>
          <option value="hm">hr/mês</option>
          <option value="ds">dias/sem</option>
          <option value="dm">dias/mês</option>

        </select>
        
      </div>
    </div>
    <button class="btn btn-info" type="submit">salvar</button>
  </form>
  <button [routerLink]="'[/]'" class="btn btn-info pull-right">voltar</button>
    
</div>