.fare-modal{
  z-index: 999;
  text-align: center;
  position: absolute;
  width: 22%;
  height: 18%;
  left: calc(50% - 11%);
  top: calc(50% - 9%);
  
  opacity: 1;
  transition: all 0.3s;
}

.fare-modal input{
  margin-top: 7%;
  width: 75%;
  height: 3rem;
}

.modal-bg{
  z-index: 998;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  opacity: 1;
  transition: all 0.3s;
}

.closed{
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.fare-display:hover{
  cursor: pointer;  
}

