
<div class="fare-modal panel panel-default closed">
  <div class="panel-heading">
    <h3 class="panel-title">insira a tarifa</h3>
  </div>
  <div class="panel-body">
    <input
    (keyup.enter)="closeAndSave(fareItem[0].id, $event.target.value)"
    id="fare"
    placeholder="valor da tarifa"
    type="number"
    step="0.01"
    min="0"
    name="fareInput"
    (input)="fareInput = $event.target.value"
    [value]="fareInput">
  </div>
</div>

<div class="row">
  <div class="fare-display col-xs-1 pull-right input-group" (click)="openModal()">
    <span class="input-group-addon" id="fare-display">R$</span>
    <p class="form-control" aria-describedby="fare-display"> {{ fareInput }}</p>
  </div>
</div>

<div class="modal-bg closed" (click)="closeAndSave(fareItem[0].id, $event.target.value)"></div>