.table-hide { 
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  width: 100%;
  transform: translateY(-2em);
  transition: all 0.3s;
}

.table-show {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  transform: translateY(0em);
  transition: all 0.3s;
}

.glyphicon-trash{
  cursor: pointer;
  color: crimson;
  margin-left: 10px;
}

.glyphicon-pencil{
  cursor: pointer;
  color: cornflowerblue;
  border-right: solid 1px lightgray;
  padding: 5px 15px 5px 0;
}

.btn-info{
  margin: 20px 0 20px 0;
  width: 15.5rem;
}

th{
  text-transform: none !important;
}

.rtable .quantity{
  position: relative;
  float: left;
  align-self: center;
  border-style: dotted;
  border-width: 0 1.2px 1.2px 0;
  border-color: lightgray;
  margin-right: 5px;
  padding: 3px 8px 3px 8px;
}
.rtable .device-name{
  display: block;
  margin-top: 8px;
}
.rtable tbody td:first-child{
  padding: 0;
}

@media (max-width: 750px){

/*!
// CSS only Responsive Tables
// http://dbushell.com/2016/03/04/css-only-responsive-tables/
// by David Bushell
*/

  .rtable th{
    height: 3.7rem;
    border-bottom: solid 1px lightgray !important;
  }
  .rtable thead tr:first-child{
    border-top: solid 1px lightgray !important;
  }
  .rtable td{
    height: 3.7rem;
  }
  
  .rtable {
    text-align: center;
    vertical-align: top;
    max-width: 100%;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .rtable,
  .rtable--flip tbody {
    -webkit-overflow-scrolling: touch;
  }
  
  .rtable th {
    font-size: 11px;
    text-align: left;
    text-transform: uppercase;
    background: #f2f0e6;
  }
  
  .rtable th,
  .rtable td {
    border: 1px solid #d9d7ce;
  }
  
  .rtable--flip {
    justify-content: center;
    display: flex;
    overflow: hidden;
    background: none;
  }
  
  .rtable--flip thead {
    display: flex;
    flex-shrink: 0;
    min-width: min-content;
  }
  
  .rtable--flip tbody {
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .rtable--flip tr {
    display: flex;
    flex-direction: column;
    min-width: min-content;
    flex-shrink: 0;
  }
  
  .rtable--flip td,
  .rtable--flip th {
    display: block;
  }
  
  .rtable--flip td {
    border-left: 0;
  }
  
  .rtable--flip th:not(:last-child),
  .rtable--flip td:not(:last-child) {
    border-bottom: 0;
  }
}