.table-hide { 
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  width: 100%;
  transform: translateY(-2em);
  transition: all 0.3s;
}

.table-show {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  transform: translateY(0em);
  transition: all 0.3s;
}

.glyphicon-trash{
  cursor: pointer;
  color: crimson;
  margin-left: 10px;
}

.glyphicon-pencil{
  cursor: pointer;
  color: cornflowerblue;
}

.btn-info{
  margin: 20px 0 20px 0;
  width: 15.5rem;
}