<app-fare (setFare)="onFareSet($event)"></app-fare>

  <table class="table table-striped rtable rtable--flip">
    <thead>
      <tr>
        <th>DISPOSITIVO</th>
        <th>USO (Hora/Mês)</th>
        <th>CONSUMO (KWh/mês)</th> 
        <th>CUSTO/MÊS</th>
        <th>POTÊNCIA (KW)</th>
        <th>ALTERAR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of deviceList">
        <td>
          <span class="quantity">{{ device.deviceInput.quantity }}</span>
          <span class="device-name">{{ device.deviceInput.name }}</span>
        </td>
        <td>{{ device.deviceInput.usage }}</td>
        <td>{{ device.deviceInput.consume }}</td>
        <td>{{ device.deviceInput.cost | currency:'BRL':true:'1.2-2'}}</td>
        <td>{{ device.deviceInput.potency }}</td>
        <td>
          <span [routerLink]="['/input', device.id]" class="glyphicon glyphicon-pencil"></span>
          <span class="glyphicon glyphicon-trash" (click)="remove(device.id)"></span>
        </td>
      </tr>
    </tbody>
  </table>

<button class="total-btn btn btn-default" (click)="showTotal()">Totais:</button>

<ng-content></ng-content>

<div id="total-table" class="table-hide">
  <app-total-table [deviceList]="deviceList">
  </app-total-table>
</div>
