

<button class="btn btn-info align-left pull-left" (click)="showAdvanced()">{{ tableButtonName }}</button>
<app-fare (setFare)="onFareSet($event)"></app-fare>

<table class="table table-striped">
  <thead>
    <th>qtd</th>
    <th>dispositivo</th>
    <th>uso (hora/mês)</th>
    <th>custo/mês</th>    
  </thead>
  <tbody *ngFor="let device of deviceList">
    <tr>
      <td>{{ device.deviceInput.quantity }}</td>
      <td>{{ device.deviceInput.name }}</td>
      <td>{{ device.deviceInput.usage }}</td>
      <td>{{ device.deviceInput.cost | currency:'BRL':true:'1.2-2'}}</td>
      <td>
        <span [routerLink]="['/input', device.id]" class="glyphicon glyphicon-pencil"></span>
        <span class="glyphicon glyphicon-trash" (click)="remove(device.id)"></span>
      </td>
    </tr>
  </tbody>
</table>

<table id="advanced-table" class="table-hide table table-striped">
  <thead>
    <th *ngIf="advancedTable">potência (kw)</th>
    <th *ngIf="advancedTable">consumo (kw/mês)</th>
      </thead>
  <tbody *ngFor="let device of deviceList">
    <tr>
      <td *ngIf="advancedTable">{{ device.deviceInput.potency }}</td>
      <td *ngIf="advancedTable">{{ device.deviceInput.consume }}</td>
    </tr>
  </tbody>
</table>

<button class="total-btn btn btn-default" (click)="showTotal()">Totais:</button>

<ng-content></ng-content>

<div id="total-table" class="table-hide">
  <app-total-table [deviceList]="deviceList">
  </app-total-table>
</div>
